.menu{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    top: 0;
}



a {
    text-decoration: none;
    color: black;
    padding: 10px;
}